html {
    font-family: sans-serif;
  }

  body {
    background-color: #623c41;
    color: rgb(200,200,200);
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: #050505;

  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(25,25,25);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(45,45,45);
  }